
body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.main-headerr{
   width:100%;
   height:60px;
   display:block;
   background-color: black;
   margin:0 auto;
   padding:0 auto;

}
.inner-header h1{
    font-size:25px;
    margin-top: 10px;
    margin-left:5px;
    height:100%;
    display:table;
    float:left;  
    color:whitesmoke;
    font-family:'Marck Script', cursive;
    font-weight: 20;
}

.inner-header h1 span{
    font-weight: 900;
    color:white;
   
}
.search-container{
    float:left;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-left: 25px;
    width: 35%;
    /* background-color: yellow; */
    height:35px;
    
} 
 .search-container form{
    padding-right: 15px 15px;
    border-radius: 2px 1 1 2px;
    border: 0;
    outline: 0 none;
    font-size: 14px;
    width:100%;
    height: 70%;;
    /* background-color: aqua; */
 }
 #searchtext{
    
     position: relative;
     width: 92.5%;
     height:100%;
 }
 #mybtn{

    /* position: relative; */
    /* margin-left:0%; */
    background-color: hsl(229, 76%, 58%);
    float:right;
    width:30px;
    height:30px;
 }
.navigation {
    /* background: red; */
    float:right;
    width:45%;
} 
.navigation li{
    color:white;
    display:table;
    float:right;
    padding:0px 15px;
    
    
} 
.navigation li a{
    /* background-color: aqua; */
    /* list-style-type: none; */
    font-size:50;
    font-weight: 800;
    margin:5px;

        
}
.navigation li a img{
    
    margin-bottom: 16%;
    display:table;
    float: right;
    height:30px;
    width:30px;
}

